<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>PM2.5和天气</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.Nino.PM2.5</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.Nino.PM2.5</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>MyPm25</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.weibo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wb3002096572</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx9f631c284d30ab79</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>qq</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>QQ41EB95A7</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>106</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>taobao</string>
		<string>wechat</string>
		<string>weixin</string>
		<string>tmall</string>
		<string>mqzone</string>
		<string>mqq</string>
		<string>mqqapi</string>
		<string>wtloginmqq2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqqwpa</string>
		<string>mqzoneopensdkapiV2</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdkapi</string>
		<string>mqzoneopensdk</string>
		<string>alipayshare</string>
		<string>alipay</string>
		<string>tencentweiboSdkv2</string>
		<string>TencentWeibo</string>
		<string>sinaweibohd</string>
		<string>sinaweibo</string>
		<string>weibosdk2.5</string>
		<string>weibosdk</string>
		<string>sinaweibohdsso</string>
		<string>sinaweibosso</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>是否许允此App使用音乐？</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>是否许允此App使用蓝牙？</string>
	<key>NSCalendarsUsageDescription</key>
	<string>是否允许此App使用日历？</string>
	<key>NSCameraUsageDescription</key>
	<string>是否允许此App使用你的相机？</string>
	<key>NSContactsUsageDescription</key>
	<string>是否允许此App访问你的通讯录</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>PM2.5和天气需要获得您的地理位置，我们需要通过您的地理位置获取您所在城市的相关信息，我们承诺不将您的地理位置分享给别人。</string>
	<key>NSLocationUsageDescription</key>
	<string>PM2.5和天气需要获得您的地理位置，我们需要通过您的地理位置获取您所在城市的相关信息，我们承诺不将您的地理位置分享给别人。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>PM2.5和天气需要获得您的地理位置，我们需要通过您的地理位置获取您所在城市的相关信息，我们承诺不将您的地理位置分享给别人。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>是否允许此App使用你的麦克风？</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>是否允许此App访问你的媒体资料库？</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
